@import "props.css";

.align-center {
    align-self: center;
}

.align-start {
    align-self: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-items-end {
    display: flex;
    align-items: flex-end;
}

.flex-items-start {
    display: flex;
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.text-start {
    text-align: start;
}

.text-start-imp {
    text-align: start !important;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-normal {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-main-col {
    color: var(--main-bg-color);
}

.text-main-col:hover {
    color: var(--main-hover-bg-color);
}

.text-dark {
    color: var(--dark-col);
}

.text-light-grey {
    color: #B9B6B3;
}

.text-red {
    color: var(--link-hover-red);
}

.text-dark-grey {
    color: #767C7E;
}

.text-main-gray {
    color: var(--light-gray);
}

.text-nowrap {
    white-space: nowrap;
}

.not-decor-link {
    text-decoration: none;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.min-h-loading {
    min-height: 290px;
}

.m-0 {
    margin: 0;
}

.m-0-imp {
    margin: 0 !important;
}

.gap-8px {
    gap: 8px;
}

.gap-10px {
    gap: 10px;
}

.gap-12px {
    gap: 12px;
}

.gap-16px {
    gap: 16px;
}

.small_gallery_gap {
    gap: 8px;
}

.br-20px {
    border-radius: 20px;
}

.d-block {
    display: block;
}

.d-block-imp {
    display: block !important;
}

.d-flex {
    display: flex;
}

.d-flex-imp {
    display: flex !important;
}

.d-none {
    display: none;
}

.d-none-imp {
    display: none !important;
}

.static {
    position: static !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.pointer {
    cursor: pointer;
}

.top-init {
    top: initial !important;
}

.max-h-screen-imp {
    max-height: 100vh !important;
}

.max-h-three-screen-imp {
    max-height: 300vh !important;
}

.h-two-screen-imp {
    height: 200vh !important;
}

.max-h-popup {
    max-height: 500px !important;
    z-index: 100;
}

.max-h-list {
    max-height: 300px !important;
}

.max-h-icons {
    max-height: 300px !important;
}

.max-h-85vh {
    max-height: 85vh !important;
}

.max-h-0-imp {
    max-height: 0 !important;
}

.checkbox_size {
    width: 20px;
    height: 20px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-0 {
    transform: rotate(0deg) !important;
}

.z-1210 {
    z-index: 1210 !important;
}

.opacity-100-imp {
    opacity: 1 !important;
}

a.text-white:hover {
    color: var(--link-hover-red);
}

a.text-dark:hover {
    color: var(--link-hover-red);
}

.order-10 {
    order: 10;
}

.error {
    border: 1px solid #FF5A5F !important;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.br-b-none {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.line_green {
    background: var(--light-green);
}

.line_yellow {
    background: #CBDA24;
}

.line_orange {
    background: #FFB930;
}

.line_red {
    background: #FF5A5F;
}

.text-green {
    color: var(--light-green);
}

.text-yellow {
    color: #CBDA24;
}

.text-orange {
    color: #FFB930;
}

.text-red {
    color: #FF5A5F;
}

.rating {
    border-radius: 6px;
    padding: 4px 8px;
    background: var(--light-green);
}

#emailError{
    color: #FF5A5F;
    position: absolute
}

.errorHold {
    color: #FF5A5F;
    margin: 5px 0;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1440px) {
    .lg-grid-2 {
        grid-column: span 2;
    }
}

.gap-md {
    gap: 20px;
}

@media (max-width: 767px) {
    .gap-md {
        gap: 16px;
    }
}

.gap-20px-imp {
    gap: 20px !important;
}
